      

  
  input[type="radio"] {
    margin: 5px;
  }
  input[type="checkbox"] {
    margin: 8px;
  }
  
  a[href="Aceitunas.html"] {
    text-decoration: none;
    font-weight: bold;
  }

  #Contenedor-de-rectangulos {
    color: white;
    padding: 5px;
    background-color: yellow;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .rectangulo {
    padding: 5px;
    margin: 5px;
  }
  .pixeles {
    background-color: crimson;
    width: 200px;
  }
  .ViewPort {
    background-color: darkmagenta;
    width: 20vw;
  }
.em { 
  background-color: green;
  width: 15em;
  font-size: 0.5em;
}

body {
  background-color: silver;
}
  
h2 {
  color: #eba234;
}
img {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #eb4034;
}
a {
  color:goldenrod;
}
/* La clase tiene prioridad sobre selector de tipo, selector mas generico */
/*El Id es selector mas especifico que la clase, por lo que tiene prioridad sobre ella*/
/* El estilo en linea es aun mas especifico que el Id, y tiene prioridad sobre el.
