  

        .imagen-de-aceitunas { 
            width: 200px;
            border-width: 5px;
            border-color: blue;
            border-style: solid dotted dashed;
        }  
        .bordes-redondos { 
            border-radius: 50%;
        }

        .contenedor-de-listas { 
            background-color: chartreuse;
        }
        